new_relic_account_id = ""
new_relic_api_key = ""
aws_access_key_id = ""
aws_secret_access_key = ""
base_url = ""
slack_workspace_name = ""
slack_channel_name = ""
slack_channel_id = ""
slack_destination_id = ""
